<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
</head>
<body>

<div id="app">
    <button type="button" @click="addInput">Add input</button>
    <a href="{% url 'second-page' %}">Second page</a>
  <div>
    <template>
        <div v-for="item in formsData" :key="formsData.id">
        <input type="text" :name="item.data" :id="item.id"/>
        </div>
    </template>
  </div>
</div>

<script src="/static/app.js"></script>

</body>
</html>